*.log
*.lof
*.aux
*.gz
*.lot
*.out
*.bbl
*.blg
*.toc
*.bcf
*.bbl
*.run.xml
*.fdb_latexmk
*.fls
*.ora~
*.bak

\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

_minted*
secrets
cookies.txt
*.swp
*\~
bin
pages
pdfs
*.tex
*.pdf
pdf_key
*.pg
*.pgm
*.xdv
